.viewport
  display: block
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

.btn
  display: inline-flex
  position: relative
  color: $text-color-default
  padding-top: 0.5em
  padding-bottom: 0.5em
  box-sizing: border-box
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: #fff
  font-size: 1.4rem
  font-weight: normal
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  cursor: pointer

  &__icon
    display: inline-flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center

    img
      display: inline-block

.btn--ghost
  background-color: transparent
  border-width: 0

  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 1px
    background-color: $text-color-default
    opacity: 0
    transition: opacity ease-in 0.15s

  &:hover, &:focus, &:active
    &::after
      opacity: 1

.btn--action
  position: relative
  width: 23.7rem
  height: 7.6rem
  padding: 0 3rem
  font-weight: bold
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.12)
  overflow: hidden

  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 0
    height: 100%
    background-color: $color-primary
    transition: width 0.3s ease-out

  .btn__icon
    transition: transform 0.3s linear

  .btn__content
    transition: transform 0.1s linear
    transform: translateX(0)

  &:hover, &:focus, &:active
    &::before
      width: 100%

    .btn__icon
      position: absolute
      left: -7rem
      transform: translateX(9.1rem)

    .btn__content
      transform: translateX(7rem)

.btn--icon
  display: inline-flex
  justify-content: space-between

.btn-back
  display: inline-block
  width: 4rem
  height: 4rem
  padding: 0.4rem
  box-sizing: border-box
  cursor: pointer

  img
    display: inline-block
    width: 3.6rem
    height: 3.6rem

.menu-btn
  display: inline-flex
  position: absolute
  top: 5.6rem
  right: 4rem
  z-index: 50
  width: 4rem
  height: 4rem
  padding: 0
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: transparent
  border-width: 0
  cursor: pointer

  img
    display: block
    width: 3.3rem
    height: 3.1rem

  &--hidden
    display: none

.info-btn
  display: inline-block
  position: fixed
  right: 3rem
  bottom: 3rem
  z-index: 50
  width: 6.4rem
  height: 6.4rem
  padding: 0
  box-sizing: border-box
  cursor: pointer

  &--hidden
    display: none

  img
    display: block
    width: 6.4rem
    height: 6.4rem

.play-btn
  display: inline-flex
  width: 11.9rem
  height: 11.9rem
  padding: 0
  margin: 0
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: transparent
  border-width: 0
  opacity: 0.66
  outline: none
  cursor: pointer

  &__icon-playing
    display: inline-block
    width: 11.9rem
    height: 11.9rem

  &__icon-paused
    display: none
    height: 4rem

    &::before
      content: ''
      display: inline-block
      width: 1.5rem
      height: 4rem
      background-color: $text-color-default

    &::after
      content: ''
      display: inline-block
      width: 1.5rem
      height: 4rem
      margin-left: .8rem
      background-color: $text-color-default

.play-btn--paused
  background-color: #eee
  border-radius: 50%

  .play-btn__icon-playing
    display: none
  .play-btn__icon-paused
    display: inline-block

.sidebar
  display: block
  position: absolute
  z-index: 30
  box-sizing: border-box
  background-color: $bg-color-default
  font-size: 2.4rem
  font-weight: 600

  &--left
    top: 0
    left: 0
    width: 12rem
    height: 100%
    z-index: 34

  &--top
    top: 0
    left: 0
    width: 100%
    height: 12rem
    z-index: 33

  &--right
    top: 0
    right: 0
    width: 12rem
    height: 100%

  &--bottom
    bottom: 0
    left: 0
    width: 100%
    height: 12rem

.video-container
  display: block
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

.icon-arrow
  &--right
    transform: rotateY(180deg)

.owl-stage
  display: flex
  flex-flow: row nowrap

/** ANIMATIONS **/
.menu-btn, .info-btn
  &--appeared
    animation: right-side-buttons-appeared 1s ease

  &--slide-in-left
    animation: overlay-buttons-slide-in-left 0.6s linear

  &--slide-out-left
    transform: translateX(-100vw)
    transition: transform 0.8s ease-in

  &--slide-out-right
    transform: translateX(60rem)
    transition: transform 0.3s ease-in

@keyframes right-side-buttons-appeared
  from
    transform: translateX(9.4rem)
  to
    transform: translateX(0)

@keyframes overlay-buttons-slide-in-left
  from
    transform: translateX(-110vw)
  to
    transform: translateX(0)
