html
  display: block
  position: relative
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  color: #000
  background-color: $bg-color-default
  font-size: 5.3px

  @media (min-width: 1170px)
    font-size: 6px

  @media (min-width: 1366px)
    font-size: 7px

  @media (min-width: 1440px)
    font-size: 7.5px

  @media (min-width: 1920px)
    font-size: 10px

body
  display: block
  position: relative
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  color: $text-color-default
  background-color: $bg-color-default
  font-family: $font-family-default
  font-size: 2rem
  overflow-x: hidden

p
  line-height: 1.4em

video
  display: block
  width: 100%
  height: 100%
  object-fit: cover
