.section-home
  display: block
  position: absolute
  top: 0
  left: 0
  z-index: 4
  width: 100%
  min-width: 100%
  height: 100%
  padding: 10.6rem 12rem 10rem 12rem
  box-sizing: border-box
  overflow: hidden

  &__video
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 0

  &__content
    position: relative
    width: 100%
    height: 100%
    z-index: 10

  &__play-btn
    position: absolute
    top: 50%
    right: 40.4rem
    z-index: 50

  &__next-btn
    position: absolute
    bottom: 19.3rem
    right: 9.2rem
    z-index: 50

.home-sidebar-left

    &__title
      position: fixed
      left: 0
      top: 6.5rem
      float: left
      line-height: 12rem
      white-space: nowrap
      transform: rotate(-90deg) translateY(12rem)
      transform-origin: left bottom 0

    &__sub
      position: fixed
      left: 0
      bottom: 3rem
      float: left
      line-height: 12rem
      white-space: nowrap
      transform: rotate(-90deg) translateY(12rem)
      transform-origin: left bottom 0

.hero
  color: #fff
  padding-top: 13.3rem
  padding-left: 14rem

  &__lead
    margin: 0
    font-size: 11.2rem
    font-weight: normal
    line-height: 10rem
    overflow-y: hidden

  &__lead-content
    display: block

  &__sub
    position: fixed
    bottom: 26.1rem
    margin: 0
    max-width: 40.4rem
    font-size: 2.4rem
    letter-spacing: -0.03rem
    opacity: 0.8
    overflow-y: hidden


  &__sub-content
    display: block

/** ANIMATIONS **/
.section-home--pre
  .sidebar--left
    display: none
  .sidebar--top
    display: none
  .sidebar--right
    display: none
  .sidebar--bottom
    display: none
  .hero
    &__lead-content
      display: none
    &__sub-content
      display: none
  .section-home__next-btn
    transform: scale(0) translateX(7rem)
    .btn__content, .btn__icon
      opacity: 0

.section-home--opened
  .sidebar--left
    animation: sidebar-left-open 1.2s ease
  .sidebar--top
    animation: sidebar-top-open 1.2s ease
  .sidebar--right
    animation: sidebar-right-open 1.2s ease
  .sidebar--bottom
    animation: sidebar-bottom-open 1.2s ease
  .hero
    &__lead-content
      animation: hero-text-appear 0.7s ease 0.3s backwards
    &__sub-content
      animation: hero-text-appear 0.7s ease 0.6s backwards
  .section-home__next-btn
    animation: home-next-btn-appear 0.7s linear forwards
    transform-origin: top right
    .btn__icon, .btn__content
      animation: home-next-btn-content 0.2s ease-out 0.7s forwards

.section-home--slide-in
  animation: home-screen-slide-in 0.8s ease-out both

.section-home--slide-out
  animation: home-screen-slide-out 0.8s ease-in both

@keyframes sidebar-top-open
  from
    transform: translateY(-12rem)
  to
    transform: translateY(0)

@keyframes sidebar-bottom-open
  from
    transform: translateY(12rem)
  to
    transform: translateY(0)

@keyframes sidebar-left-open
  from
    transform: translateX(-12rem)
  to
    transform: translateX(0)

@keyframes sidebar-right-open
  from
    transform: translateX(12rem)
  to
    transform: translateY(0)

@keyframes hero-text-appear
  from
    transform: translateY(20rem)
  to
    transform: translateY(0)

@keyframes home-next-btn-appear
  from
    transform: scale(0, 1) translateX(14rem)
    box-shadow: none
  20%
    transform: scale(0.2, 1) translateX(14rem)
    box-shadow: none
  40%
    transform: scale(0.4, 1) translateX(9rem)
    box-shadow: none
  60%
    transform: scale(0.6, 1) translateX(5rem)
    box-shadow: none
  80%
    transform: scale(0.8, 1) translateX(2rem)
    box-shadow: none
  to
    transform: scale(1) translateX(0)
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.12)

@keyframes home-next-btn-content
  from
    opacity: 0
  to
    opacity: 1

@keyframes home-screen-slide-in
  from
    transform: translateX(-100%)
  to
    transition: translateX(0)

@keyframes home-screen-slide-out
  from
    transform: translateX(0)
  to
    transform: translateX(-100%)
