.section-about
  display: block
  position: absolute
  top: 0
  left: 0
  z-index: 5
  width: 100%
  height: 100%
  min-width: 100%
  padding: 10.6rem 12rem 10rem 12rem
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: auto

  &__btn-back
    position: absolute
    right: 2.4rem
    bottom: -3rem
    z-index: 50

    img
      width: 2.6rem
      height: 2.6rem

.about-sidebar-left

  &__back
    position: fixed
    top: 3.8rem
    left: 3.9rem

  p
    position: fixed
    bottom: 5rem
    left: 0
    float: left
    line-height: 12rem
    white-space: nowrap
    transform: rotate(-90deg) translateY(12rem)
    transform-origin: left bottom 0

.about-blocks
  display: flex
  position: relative
  width: 100%
  max-width: 168rem
  margin: 0 auto
  flex-flow: row wrap
  justify-content: center
  align-items: flex-start

.about-block-1
  display: flex
  position: relative
  z-index: 10
  width: 85.2rem
  flex-flow: row wrap
  justify-content: flex-start
  align-items: stretch

  &__number-label
    top: -0.2rem
    right: 2.2rem
    z-index: 20

  &__main-pic
    width: 82.8rem
    height: 82.8rem
    background-attachment: fixed
    background-image: url('./img/im_city.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  &__content-pic
    display: block
    width: 40.2rem
    height: 59.1rem
    background-image: url('./img/im_mountains_2.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  &__content
    display: flex
    width: 45rem
    padding-top: 16.6rem
    box-sizing: border-box
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: flex-end
    color: $text-color-article
    background-color: $bg-color-default

    p
      max-width: 30.7rem
      margin: 0

.about-block-2
  display: flex
  position: relative
  width: 82.8rem
  padding-top: 17rem
  padding-left: 2.3rem
  box-sizing: border-box
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: flex-end
  z-index: 10

  &__content
    width: 71rem

    h2
      max-width: 40.4rem
      margin: 0
      color: $text-color-title
      font-size: 3.6rem
      font-weight: bold
      text-transform: uppercase

    p
      max-width: 48.4rem
      margin: 8.1rem 0 0 0
      color: $text-color-article

  &__slider
    margin-top: 9.8rem

.about-block-3
  display: flex
  position: relative
  z-index: 0
  width: 100%
  margin-top: 3rem
  flex-flow: column-reverse
  justify-content: flex-start
  align-items: center

  @media(min-width: 1024px)
    margin-top: -14.1rem
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: stretch

  &__content
    display: block
    position: relative
    width: 85.2rem
    padding-top: 14.1rem
    padding-left: 2.3rem
    box-sizing: border-box
    background-color: $bg-color-alternate

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 2.3rem
      height: 100%
      background-color: #646369
      opacity: 0.5

  &__slider
    display: block
    position: relative
    width: 82.8rem
    min-height: 49.4rem

  &__number-label
    position: absolute
    top: 2.1rem
    left: -0.2rem
    z-index: 20
    height: 12rem

.number-label
  display: block
  position: absolute
  width: 11.9rem
  height: 11.9rem
  color: $text-color-title
  background-color: $bg-color-default
  font-size: 6.4rem
  font-weight: bold
  text-align: center
  line-height: 11.9rem

.text-slider
  display: block
  position: relative
  width: 100%
  height: 100%
  padding: 2.5rem 0 4.2rem 0
  box-sizing: border-box
  background-color: $bg-color-alternate

  &__controls
    position: absolute
    right: 2.5rem
    bottom: 4.2rem

.text-slider-control
  display: inline-block
  position: relative
  padding: 0.7rem 0
  color: $text-color-default
  background-color: transparent
  border-width: 0
  font-size: 1.4rem
  font-weight: bold
  text-transform: uppercase
  cursor: pointer

  span
    opacity: 0.4
    transition: opacity ease-in 0.15s

  & + &
    margin-left: 3.4rem

    &::before
      content: ''
      display: block
      position: absolute
      top: 50%
      left: -2.1rem
      width: 0.4rem
      height: 0.4rem
      margin-top: -0.3rem
      background-color: #9C9CA1
      border-radius: 50%

  &:hover, &:focus, &:active
    span
      opacity: 1

.text-slider-slide
  display: flex
  position: relative
  box-sizing: border-box
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: stretch

  &__pic
    display: block
    width: 25rem
    height: 25rem
    background-image: url('./img/im_mountains_1.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transform: translateX(-2.3rem)

  &__content
    display: block
    position: relative
    padding-left: 1.1rem
    padding-right: 2.3rem
    padding-bottom: 3.1rem

    h4
      margin: 2.5rem 0 0 0
      font-size: 3.6rem
      font-weight: bold
      text-transform: uppercase

    p
      margin: 2.66rem 0 0 0

  &__controls
    display: block
    position: absolute
    left: 1.1rem
    bottom: 0

.image-slider
  display: block
  position: relative
  width: 100%
  height: 49.4rem
  padding-top: 2.2rem
  box-sizing: border-box
  overflow: hidden

  &__content
    display: block
    position: relative
    width: 100%
    height: 49.4rem
    max-height: 100%

  &__controls
    position: absolute
    top: 0
    right: 3.8rem
    cursor: default

.image-slider-slide
  height: 47.2rem
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  &--1
    background-image: url('./img/im_slider_1.jpg')

  &--2
    background-image: url('./img/im_slider_1.jpg')

.image-slider-control
  display: inline-flex
  width: 4.8rem
  height: 4.8rem
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: $bg-color-default
  border-width: 0
  box-shadow: 0 0.4rem 1.7rem rgba(0, 0, 0, 0.3)
  cursor: pointer

  img
    display: inline-block

  &:focus, &:active
    outline: none

  &:active
    box-shadow: none

  &--prev
    img
      transform: rotateY(180deg)

  & + &
    margin-left: 1rem

.blockquote
  display: block
  position: relative
  padding: 10.2rem 16.6rem 9.7rem 19rem
  color: $text-color-article

  &__icon
    position: absolute
    top: 10rem
    left: 7.3rem
    width: 6.8rem
    height: 5.7rem

  p
    margin: 0

/** ANIMATIONS **/
.section-about
  transform: translateX(110vw)

  &--slide-in
    transform: translateX(0)
    transition: transform 0.7s ease-out 0.3s

    .about-sidebar-left
      display: block

  &--slide-out
    transform: translateX(100vw)
    transition: transform 0.7s ease-out

.about-sidebar-left
  display: none
