section.section-home.section-home--pre
  .sidebar.sidebar--left.sidebar--hidden.home-sidebar-left
    .home-sidebar-left__title Title page #1
    .home-sidebar-left__sub 1/9
  .sidebar.sidebar--top.sidebar--hidden
  .sidebar.sidebar--right.sidebar--hidden
  .sidebar.sidebar--bottom.sidebar--hidden
  a.btn.btn--action.btn--icon.section-home__next-btn#HomeNextSlideBtn(href="#" title="Подробнее")
    span.btn__content Подробнее
    span.btn__icon
      img.icon-arrow.icon-arrow--right(src="./img/ic_arrow-left.svg" width="26" height="26" alt="")
  .video-container.section-home__video
    video#HomeBgVideo(width="100%" autoplay="true" muted="muted" loop)
      source(src="./video/bg_video.mp4" type="video/mp4")
  button#HomeBgVideoPlayBtn.play-btn.section-home__play-btn(title="Play/Pause")
    img.play-btn__icon-playing(src="./img/ic_play.svg" width="119" height="119" alt="")
    span.play-btn__icon-paused
  .hero.section-home__content
    h1.hero__lead
      span.hero__lead-content
        span Франшиза
        br
        span Пив&amp;Ко
    p.hero__sub 
      span.hero__sub-content.
        It is a long established fact that a reader will be distracted by the readable content
