.section-about
  .sidebar.sidebar--left.about-sidebar-left
    a.btn-back.about-sidebar-left__back#AboutSidebarBackBtn(href="#" title="Назад")
      img(src="./img/ic_arrow-left.svg" width="36" height="36" alt="")
    p Подробнее о магазине Пив&amp;Ко
  .about-blocks
    a.btn.btn--action.btn--icon.section-about__btn-back#AboutBackBtn(href="#" title="Назад")
      span.btn__content Назад
      span.btn__icon
        img(src="./img/ic_arrow-left.svg" width="26" height="26" alt="")
    .about-block-1
      .number-label.about-block-1__number-label 01
      .about-block-1__main-pic
      .about-block-1__content-pic
      .about-block-1__content
        p.
          Наши клиенты — люди, которые хотят вложить деньги в простой и прибыльный бизнес без рисков. 
          Для этого мы предоставляем право открыть магазин под известным российским брендом и помогаем 
          на всех этапах развития: предоставляем и подключаем оборудование
    .about-block-2
      .about-block-2__content
        h2 
          span Пив&amp;Ко — 
          br
          span партнерская сеть магазинов
        p.
          Наши клиенты — люди, которые хотят вложить деньги в простой и прибыльный бизнес без рисков. 
          Для этого мы предоставляем право открыть магазин под известным российским брендом и помогаем 
          на всех этапах развития: предоставляем и подключаем оборудование.
        .text-slider.about-block-2__slider
          .text-slider-slide
            .text-slider-slide__pic
            .text-slider-slide__content
              h4 Строительство
              p.
                Наши клиенты — люди, которые хотят вложить деньги в простой и прибыльный бизнес 
                без рисков.
              .text-slider-slide__controls
                a.btn.btn--ghost(href="#") Подробнее
          .text-slider__controls
            button.text-slider-control 
              span пред
            button.text-slider-control
              span след
    .about-block-3
      .about-block-3__content
        .blockquote
          img.blockquote__icon(src="./img/ic_right-quotation-mark.svg" width="68" height="57" alt="")
          p.
            Наши клиенты — люди, которые хотят вложить деньги в простой и прибыльный бизнес без рисков. 
            Для этого мы предоставляем право открыть магазин под известным российским брендом и помогаем 
            на всех этапах развития: предоставляем и подключаем оборудование
          
      .about-block-3__slider
        .number-label.about-block-3__number-label 02
        .image-slider
          .image-slider__content
            .image-slider-slide.image-slider-slide--1
            .image-slider-slide.image-slider-slide--2
          .image-slider__controls
            button.image-slider-control.image-slider-control--prev
              img(src="./img/ic_angle-right.svg" width="7" height="12" alt="")
            button.image-slider-control.image-slider-control--next
              img(src="./img/ic_angle-right.svg" width="7" height="12" alt="")
