.loader-overlay#LoaderOverlay
  .lds-dual-ring.loader-overlay__spinner
  noscript 
    p Для просмотра этой страницы нужно включить JavaScript в вашем браузере.
    p You should enable JavaScript in your browser to viewing this page.
