@import "./spinner/lds-dual-ring"

.loader-overlay
  display: flex
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 1000
  width: 100%
  height: 100%
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  background-color: #fff
  text-align: center

  &__spinner::after
    border-color: $color-primary transparent $color-primary transparent

  &--hidden
    transition: opacity 1s ease, visibility 1s ease
    opacity: 0
    visibility: hidden
