doctype html
head
  meta(charset="utf-8")
  title Франшиза Пив&amp;Ко
  link(rel="stylesheet" href="lib/owl.carousel.min.css")
  link(rel="stylesheet" href="index.css")
body
  main.viewport#Viewport
    button.menu-btn.menu-btn--hidden#MenuBtn(title="Меню")
      img(src="./img/ic_menu_gamburger.svg" width="" height="" alt="")
    a.info-btn.info-btn--hidden#InfoBtn(href="#" title="Инфо")
      img(src="./img/ic_info.svg" width="64" height="64" alt="")
    .viewport-content
      .viewport-content-block
        include ./includes/section-home.pug
      .viewport-content-block
        include ./includes/section-about.pug
  include ./components/loader/loader-overlay.pug
  script(src="lib/jquery-3.3.1.min.js" charset="utf-8")
  script(src="lib/owl.carousel.min.js" charset="utf-8")
  script(src="components/loader/loader.js" charset="utf-8")
  script(src="index.js" charset="utf-8")
  
  
